*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: system-ui;
}

:root {
  --clr-dark: #070a12;
  --clr-light: #f9f9fb;
  --clr-accent: #f43f70;
  --clr-rgba: rgba(244, 63, 112, 0.2);
  --font-size: 1.2rem;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  word-spacing: 1.4px;
  color: var(--clr-dark);
  background-color: var(--clr-light);
  font-family: system-ui;
  font-weight: 700;
  padding: 2rem;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  gap: 2rem;
}

.container {
  margin-block: 1rem;
  border: 0.1rem solid var(--clr-accent);
  padding: 0.5rem;
  border-radius: 0.2rem;
  /* height: 300px; */
}

.item {
  padding: 1rem;
  background-color: #ffb703;
  font-weight: 700;
  color: var(--clr-light);
  border: 0.5rem solid var(--clr-accent);
  border-radius: 0.2rem;
  /* text-align: center; */
}
